@page
@model MasterBlogger.Presentation.Web.Areas.Administrator.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Website Administrator</h1>
</div>